@import "../../styles/variables.scss";

.Footer {
  flex-direction: column;
  background-color: $text;

  .Row {
    flex-direction: column;
    box-sizing: border-box;
    
    @media (max-width: $mobile) {
      padding: 2rem 0.5rem;
    }
  }

  &__Container {
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;

    @media (max-width: $mobile) {
      justify-content: start !important;
      flex-direction: column;
      padding: 0;
    }
  }
}

.FooterLinks {
  padding: 0 5vw;
  padding-bottom: 2rem;
  &__Title {
    color: $element;
  }
  &__Link {
    font-size: 1.15rem;
    color: $white;
  }
}

.FooterCopyright {
  font-size: 1rem;
  text-align: center;
  color: $white;
}
