@import "../../styles/variables.scss";

.AboutMe {
    @media (max-width:$tablet) {
        padding-top: 0!important;
    }

    &>* {
        &>*{
            max-width: 100%;
        }
        padding: 5rem 0;
        flex-direction: row-reverse;

        @media (max-width:$tablet) {
            padding: 0;
        }
    }

    &__InfoColumn{
        @media (max-width:$tablet) {
            padding-top: 0;
        }
    }

    &__SkillsColumn{
        padding: 6rem 2rem 0 2rem;

        @media (max-width:$tablet){
            padding: 0;
        }
    }
}