@import "../../styles/variables.scss";

.Introduction {
    padding: 5rem 0;

    &__InfoColumn {
        display: flex;
        align-items: flex-end;
        padding-bottom: 5rem;

        @media (max-width:$tablet) {
            justify-content: center;
            padding-bottom: 0;
        }
    }
}