@import "../../../styles/variables.scss";

.MainTitle {
    font-size: 2.5em;
    color: $text;

    @media (max-width: $mobile) {
        & {
            text-align: center;
        }
    }

    &__OtherColorText {
        color: $hover;
        font-weight: 600;
    }
}