@import "../../styles/variables.scss";

.SocialNetworkList {
  display: flex;
  & > * {
    margin-right: 1rem;
  }
  @media (max-width:$tablet) {
    justify-content: center;
    &>*{
      margin: 0 0.5rem;
    }
  }
}

.ContactMe {
  position: relative;

  &__Decoration {
    height: 7.5rem;
    width: 7.5rem;
  }

  &__InfoColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 2rem;
  }

  .MainCaption{
    @media (max-width: $tablet) {
            text-align: center;
    }
  }

  &__GameColumn {
    display: flex;
    @media (max-width: $tablet){
      display: none;
    }
  }

  &__Decoration {
    top: 0;
    left: 3rem;
    position: absolute;
    transform: rotate(32deg);
  }

  &ToTop {
    &__Arrow {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -55%) scale(1.2, 0.7);
      position: absolute;
      font-size: 2em;
      color: $bg;
      z-index: 15;
      cursor: pointer;
    }

    &__Circle {
      height: 7.5rem;
      cursor: pointer;
    }

    &:hover {
      transform: scale(1.1);
      opacity: 0.8;
    }

    width: fit-content;
    bottom: 1.5rem;
    right: 2rem;
    position: absolute;
    cursor: default;
    transition: 1s;
  }
}
